When is Lookup expected to follow CNAMEs directly?

I was looking at the Lookup class the other day, and it's been designed to be used with a recursive resolver, but also to follow CNAMEs. As far as I am aware (and RFC 1034, Section 3.6.2 states it), recursive resolvers follow CNAMEs themselves; their responses should therefore combine data from multiple DNS responses.

Which brings me to my question: in what situation would Lookup need to follow?

I've reviewed the Lookup implementation and it appears that it will "follow" even within the same response Message, using the cache to avoid sending further queries. However, it will send more queries if the CNAME information is not available in the original response. My question is about the latter situation.

Am I missing something?

I can only speculate why Lookup was originally implemented that way. Best guess is that some recursive resolvers are not actually sending all responses. The newer LookupSession also resolves CNAMEs, but it prefers the responses from the same reply over going to the cache again.

Do you have an issue with the current behavior?

Yeah, I was thinking the same. It's not bothering me. Technically, Lookup will send multiple DNS queries if an incomplete response is received, which may be inefficient if the data is the same, but may actually provide a better result if the first response was a glitch of some sort.