TSIG verification fails if id of message is not identical to originalId in TSIG record (incorrect HMAC computation)

Hello,

I am using dnsjava where an AXFR query is submitted to an authoritative nameserver via an dnsdist instance. The dnsdist instance proxies/relays the answer from the authoritative name server - it seems like the DNS message id is changed somewhere during this process.

According to section 4.3.2 of RFC 8945, the "original id" contained in the TSIG record is used for the HMAC calculation


> When verifying an incoming message, the TSIG is checked against the message after the TSIG RR has been removed, the ARCOUNT decremented, and the message ID replaced by the original message ID from the TSIG if those IDs differ. (This could happen, for example, when forwarding a dynamic update request.) 


src/main/java/org/xbill/DNS/TSIG.java decreases the header count but does not restore the original message id contained in the TSIG record

```
    m.getHeader().decCount(Section.ADDITIONAL);
    byte[] header = m.getHeader().toWire();
    m.getHeader().incCount(Section.ADDITIONAL);
```

In a relay situation where the message id is changed this leads to invalid signaturs

Possible ways to fix:;

- clone() the Headers object, modify count and id and use toWire() method
- save the original id, modify id, use toWire() and restore id
- duplicate code of toWire(), using original id of TSIG record and decreased additional count, changing / restore Headers object not necessary 

Thanks. Can you have a look if the newest snapshot build fixes the issue for you?

I can confirm that the problem is fixed in current master. 