Access to "raw" strings in NAPTR record

Hello :)

I'm on a quest to parse NAPTR's `regexp` field as per [RFC 3402, section 3.2](https://datatracker.ietf.org/doc/html/rfc3402#section-3.2).

I'm partially stuck because the [`getRegexp`](https://github.com/dnsjava/dnsjava/blob/627813316446772d3736bf67a1493fb9e74bd26a/src/main/java/org/xbill/DNS/NAPTRRecord.java#L125) function converts the bytes to string via `byteArrayToString`: this adds back the escape character (`\`) where needed for string representation.

However, to correctly parse the `regexp` field, I would need the underlying unescaped value of this field.

For instance, if the regexp field was `!a\!b!c!i` I would have to parse:
- delim: `!`
- ere: `a!b`
- repl: `c`
- flags: `i`

However, in textual representation, `\` itself would have to be escaped, e.g.:
```kotlin
val naptr = Record.fromString(Name.fromConstantString("example.com"), Type.NAPTR, DClass.IN, """!a\\!b!c!i""", Name.root) as NAPTRRecord

naptr.getRegexp() // returns the string "!a\\!b!c!i"
```

There is currently no way to access the raw bytes of the `regexp` field. However, this is possible for TXT records using [`getStringsAsByteArrays`](https://github.com/dnsjava/dnsjava/blob/627813316446772d3736bf67a1493fb9e74bd26a/src/main/java/org/xbill/DNS/TXTBase.java#L110).

Would it be possible to introduce a `getRegexpAsByteArray` function that simply exposes the underlying `regexp` field? The same could be done for flags and service.

Would a PR that adds this be accepted?


Hi,

Hm, I'd argue that all usages of `byteArrayToString(some-dns-bytes, false)` as property accessors return wrong data: the value is for textual presentation of RRdata or master-files, but not for working with it in an application.

So ideally we'd change the return types, but that would be a breaking change. What do think about adding a global opt-in flag, e.g. `dnsjava.use_raw_strings`, which when enabled returns unescaped strings?

> Hm, I'd argue that all usages of byteArrayToString(some-dns-bytes, false) as property accessors return wrong data: the value is for textual presentation of RRdata or master-files, but not for working with it in an application.

I 100% agree. 


> So ideally we'd change the return types, but that would be a breaking change. What do think about adding a global opt-in flag, e.g. dnsjava.use_raw_strings, which when enabled returns unescaped strings?

I see two problems with this:
1. first of all, I'm not a big fan of global flags: they hide behavior, they make code harder to test and reason about, and they might interfere with other dependencies using dnsjava outside of the control of the user. Also, they provide no way to gradually migrate, so an already established codebase (like in my case) will have trouble onboarding to the "right" thing if doing so would mean spending days checking and fixing every other already established usage of those getters (and still risking unknowingly impacting dependencies)
2. more importantly, raw data is not even in string format, but is just an array of bytes. I'd argue that exposing that is important. As an example, a TXT record, as per RFC 1035, can contain any arbitrary byte data as it does not mandate any specific encoding, and is up to the user to interpret it (i.e. use the correct character encoding) correctly. Returning an "unescaped string" would still mean to implicitly use an encoding. A similar parallel can be done for NAPTR and I assume a lot of other similar record types.

In my opinion, a migration could look like this:
- add all "raw bytes" functions were needed
- mark the ones returning a string as deprecated, and maybe provide a way to explicitly obtain an escaped string from a byte array to allow users to fully migrate to this (e.g. making `Record.byteArrayToString` public would suffice)
- in a major version upgrade, remove the deprecated functions and optionally rename the raw ones to remove the `AsByteArray` suffix



Yes, good arguments. I see two options:
- Only add the raw() methods as you suggested
- Also add an overload to those methods where one can reasonably expect string data to return unescaped data: `String getRegexp(boolean escape)` so that users don't always have to reason about converting bytes->strings.

WDYT?

I want to avoid introducing new methods now that will change again with v4.

Happy to look at PR(s) if you want to work on it.

> Also add an overload [...]

Makes sense to me. So, for the regexp NAPTR example we'll end up with:
- `getRegexpAsByteArray`: "raw" version returning bytes only
- `getRegexp(boolean escape)`: returns a String by converting the bytes to string using UTF8 charset, possibly escaped.
- `getRegexp()`: calls `getRegexp(true)`, present for backwards compatibility only. Should we mark it as deprecated and remove it in v4? If I was designing this from scratch I would keep it but _without_ escaping, maybe the behavior can be changed in v4?


I'll start working on a PR including NAPTR and all other record types I can find with this pattern.