SimpleResolver fails when UPDATE response has ZOCOUNT equals to 0.

In dnsjava 3.5.3, sending DDNS update to a server that returns NOTIMP with ZOCOUNT=0 results in NPE at SimpleResolver:406 because `response.getQuestion()` is null. #277 "fixes" that by considering the case an "invalid message", but that interpretation is not consistent with Section 3.8 of RFC 2136:

> A response message is generated by copying the ID and Opcode fields from the request, and either copying the ZOCOUNT, PRCOUNT, UPCOUNT, and ADCOUNT fields and associated sections, or placing zeros (0) in the these "count" fields and not including any part of the original update


https://github.com/dnsjava/dnsjava/blob/1f5940676c73e70f1987ea50e0128f8b70f0f4d7/src/main/java/org/xbill/DNS/SimpleResolver.java#L406
	https://github.com/dnsjava/dnsjava/blob/f6fa697f88eb0dd502a0bdf13df48b49ae451db7/src/main/java/org/xbill/DNS/SimpleResolver.java#L422-L426