Serial must not be zero

```Serial.increment()``` may return zero as seen here 
https://github.com/dnsjava/dnsjava/blob/6d50d8cc03e412642f28a0890c626f1283b8a86e/src/main/java/org/xbill/DNS/Serial.java#L57

But according to RFC1982 section 7 https://tools.ietf.org/html/rfc1982
> Caution should also be exercised before causing the serial number to
   be set to the value zero.  While this value is not in any way special
   in serial number arithmetic, or to the DNS SOA serial number, many
   DNS implementations have incorrectly treated zero as a special case,
   with special properties, and unusual behaviour may be expected if
   zero is used as a DNS SOA serial number.

and RFC2136 section 4.2 & 7.11 https://tools.ietf.org/html/rfc2136
> 4.2. If update ordering is desired, the requestor will need to know
   the value of the existing SOA RR.  Requestors who update the SOA RR
   must update the SOA SERIAL field in a positive direction (as defined
   by [RFC1982]) and also preserve the other SOA fields unless the
   requestor's explicit intent is to change them.  The SOA SERIAL field
   must never be set to zero (0).
   ...
   7.11. A zone's SOA SERIAL should never be set to zero (0) due to
   interoperability problems with some older but widely installed
   implementations of DNS.  When incrementing an SOA SERIAL, if the
   result of the increment is zero (0) (as will be true when wrapping
   around 2**32), it is necessary to increment it again or set it to one
   (1).  See [RFC1982] for more detail on this subject.

@nguydavi , what is your usage of the Serial class?  We may want to deprecate Serial altogether now that newer versions of Java can operate on unsigned integers.  See issue #46 

Main use case is for services that don't increment the SOA serial by default for you (I know for instance that AWS Route 53 doesn't do it for you). But that class could be used from a DNS service side as well.